<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp-Success</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body style="background-color:#E99DCB">
<script>
      swal({
          title: "SignUp Success!",
          text: "You can Sign In now..!!",
          icon: "success",
          button: false
          });
          setTimeout(() => { window.location.href="/logout"; }, 4000);
  </script>
</body>
</html>